.DS_Store
.idea
.swp
!.gitkeep
!.keep
fhem/FHEM/FhemUtils/uniqueID
fhem/fhem.cfg.bak
fhem/backup/*
fhem/cache/*
fhem/log/*
fhem/restoreDir/*
fhem/.ssh/*
fhem/.bash_history
fhem/.npm/*
fhem/.telnet_history
fhem/.npm/_cacache/
mysql/data/*
mosquitto/log/*
mosquitto/data/*
homebridge/logs/*
homebridge/homebridge.log
homebridge/accessories/*
homebridge/persist/*
homebridge/config.json
tasmotaadmin/data/tasmoadmin/devices.csv
tasmotaadmin/data/tasmoadmin/MyConfig.json


