.DS_Store
.idea
!.gitkeep
/fhem/FHEM/FhemUtils/uniqueID
/fhem/fhem.cfg.bak
/fhem/backup/*
/fhem/cache/*
/fhem/log/*
/fhem/restoreDir/*
/fhem/.ssh/*
/fhem/.bash_history
/fhem/.telnet_history
/mysql/data/*
/mosquitto/log/*
/mosquitto/data/*
/homebridge/logs/homebridge.log
/homebridge/accessories/*
/homebridge/persist/*
/homebridge/config.json
/tasmotaadmin/data/tasmoadmin/devices.csv
/tasmotaadmin/data/tasmoadmin/MyConfig.json


